*{
    font-family: 'Rubik', sans-serif;
    margin: 0;
    box-sizing: border-box;
}
body {
    transition: 0.2s linear;
}
.menu-container {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    box-sizing: border-box;
    overflow: hidden;
}
.menu {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}
.menu  h1 {
    font-size: 25px;
}
.menu-container .menu-icon {
    font-size: 25px;
    cursor: pointer;
    display: none;
    color: #5148fd;
}
nav {
    flex: 1;
    text-align: right;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
.home {
    color: #6C63FF;
    text-decoration: underline 2px #6C63FF;
}
.menu ul li a {
    text-decoration: none;
    color: #686867;
    font-size: 16px;
}
.menu ul li a:hover {
    color: black;
}
.mainsection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding-left: 8%; 
    padding-right: 8%;
}
.row1 {
    flex-basis: 40%;
    position: relative;
}
h2 {
    font-size: 60px;
    width: 100%;
    word-spacing: 5px;
    letter-spacing: 5px;
}
.idea {
    color: #5148fd;
}
.text{
    width: 70%;
    color: #686867;
    font-size: 20px;
}
.play {
    color: #5148fd;
    font-size: 30px;
}
.watch {
    font-size: 30px;
    color: #686867;
}
.watch:hover {
    color: black;
}
.row2 {
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}
.row2 img {
    width: 90%;
}
#menuList{transition: 0.3s linear;
}
@media only screen and (max-width:600px) {
    nav ul {
        width: 100%;
        position: absolute;
        background: #4a45af;
        top: 75px;
        right: 0;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .menu ul li a {
        color: white;
    }
    .home {
        color: white;
        text-decoration: none;
    }
    .home:hover {
        color: black;
    }
    .menu-container .menu-icon {
        display: block;
    }
    h2 {
        font-size: 200%;
    }
    #menuList {
        overflow: hidden;
        
        
    }
    .mainsection {
        flex-direction: column-reverse;
        margin: 50px 0;
       
    }
    .label {
        margin: 15px;
    }
}
.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox:checked + .label {
    background-color: rgb(102, 2, 102);
}
.label {
    background-color: rgb(49, 49, 49);
    padding: 2px;
    height: 26px;
    width: 50px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
}
.fa-sun {
    color: #f39c12;
}
.fa-moon {
    color: #f1c40f;
}
.ball {
    width: 22px;
    height: 22px;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: 0.2s linear;
}
.checkbox:checked + .label .ball {
    transform: translateX(24px);
}
body.dark {
    background-color: #262626;
    color: wheat;
}
body.menuT ul li a {
    color: wheat;
}