*{
    font-family: 'Rubik', sans-serif;
    margin: 0;
    box-sizing: border-box;
    /* border: 2px solid red; */
    scroll-behavior: smooth;
}
body {
    transition: 0.2s linear;
    /* height: 500vh; */
}
::-webkit-scrollbar{
    width: 5px;
    background: antiquewhite;
}
::-webkit-scrollbar-thumb {
    background: #4a45af;
}
.menu {
    height: auto;
    width: 100%;    
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 5;
    background: #fff;
    padding: 30px;
    top: 0;
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.menu  h1 {
    font-size: 25px;
    color: #4a45af;
}
.menu-icon {
    height: 40px !important;
    width: 40px !important;
    cursor: pointer;
    display: none;
    color: #262626;
}
ul {
    justify-content: center;
    align-items: center;
    display: flex;
}
ul li {
    height: 100%;
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
.home {
    color: #6C63FF;
}
.menu ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}
.menu ul li a:hover {
    color: black;
}
.mainsection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 0 8%; 
    height: 90vh;
}
.row1 {
    flex-basis: 40%;
    position: relative;
}
h2 {
    font-size: 60px;
    width: 100%;
    word-spacing: 5px;
    letter-spacing: 5px;
}
.idea {
    color: #5148fd;
}
.text{
    width: 70%;
    color: #686867;
    font-size: 20px;
}
.play {
    color: #5148fd;
    font-size: 30px;
}
.watch {
    font-size: 30px;
    color: #686867;
}
.watch:hover {
    color: black;
}
.row2 {
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}
.row2 img {
    width: 90%;
}
#menuList{transition: 0.3s linear;
}


.community {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8%;
    display: flex;
}
.comLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    width: 100%;
    height: 100%;
}
.comLeft .comText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}
.comLeft .comText p {
    font-size: 24px;
    color: #5148fd;
    margin-bottom: 15px;
}
.comLeft .comText span {
    font-size: 14px;
    color: grey;
    margin-bottom: 15px;
}
.comLeft .comText h3 {
    font-size: 30px;
    color: #262626;
    margin-bottom: 15px;
}
.comLeft .comText button {
    font-size: 18px;
    border-radius: 5px;
    width: 30%;
    color: #fff;
    padding: 15px 30px;
    background: #2D74FF;
    margin-bottom: 15px;
    border: none;
}
.comRight {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    flex: 1;
}
.comRight img {
    width: 75%;
}





@media only screen and (max-width: 576px) {
    .menu {
        height: 10vh;
        padding: 0 25px !important;
    }
    .menu  h1 {
        font-size: 25px;
        color: #4a45af;
    }
    ul {
        flex-direction: column;
        width: 100%;
        position: absolute;
        background: #4a45af;
        top: 100%;
        right: 0;
        z-index: 2;
    }
    ul li{
        height: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .menu ul li a {
        color: white;
    }
    .home {
        color: white;
        text-decoration: none;
    }
    .home:hover {
        color: black;
    }
    .menu-container {
        transition: 3s;
        background: #4a45af;
    }
    .menu-container .menu-icon {
        display: block;
    }
    h2 {
        font-size: 200%;
    }
    #menuList {
        overflow: hidden;
        
        
    }
    .mainsection {
        flex-direction: column-reverse;
        margin: 50px 0;
       
    }
    .label {
        margin: 15px;
    }

    .community {
        height: auto;
        min-height: 60vh;
        flex-direction: column-reverse;
    }
    .comLeft .comText {
        width: 95%;
    }
    .comLeft .comText p {
        font-size: 24px;
        color: #5148fd;
        margin-bottom: 10px;
    }
    .comLeft .comText span {
        font-size: 14px;
        color: grey;
        margin-bottom: 15px;
    }
    .comLeft .comText h3 {
        font-size: 24px;
        color: #262626;
        margin-bottom: 10px;
    }
    .comLeft .comText button {
        font-size: 15px;
        width: 80%;
        padding: 10px 20px;
    }
    .comRight {
        padding: 15px 0 0 0;
    }
    .comRight img {
        width: 100%;
    }



    body.menuT ul li a {
        color: #fff !important;
    }
}




/* DarkMode */
.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox:checked + .label {
    background-color: rgb(102, 2, 102);
}
.label {
    background-color: rgb(49, 49, 49);
    padding: 2px;
    height: 26px;
    width: 49px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
}
.fa-sun {
    color: #f39c12;
}
.fa-moon {
    color: #f1c40f;
}
.ball {
    width: 22px;
    height: 22px;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    top: 2px;
    left: 1px;
    transition: 0.3s linear;
}
.checkbox:checked + .label .ball {
    transform: translateX(24px);
}
*.dark {
    color: white;
}
menu.dark {
    background: #262626 !important;
}
body.dark {
    background-color: #262626;
    color: #fff !important;
}

